<h1>Password Generator</h1>

<form action="#">
  <label>Enter Length:</label>
  <br>
  <input type="number" (change)="changePasswordProperties(undefined, undefined, $event)"/>
  <br>
  <br>
  <label>Use Numbers:</label>
  <br>
  <input type="checkbox" (change)="changePasswordProperties(undefined, $event, undefined)"/>
  <br>
  <br>
  <label>Use Symbols:</label>
  <br>
  <input type="checkbox" (change)="changePasswordProperties($event, undefined, undefined)"/>
  <br>
  <br>
  <br>
  <button (click)="submit()" type="submit">Generate!</button>
  <br>
  <br>
  <label>Generated Password:</label>
  <br>
  <input [value]="getPassword()" type="text"/>
</form>
